#evolution {
    .evolution {
        display: flex;
        align-items: center;
        margin: 20px;
    }
    .evolution-image {
        display: flex;
        align-items: center;
        margin: 0 10px;
    }
    .arrow-icon {
        font-size: 24px;
        margin: 0 10px;
    }
}