<div id="search">
    <div class="search-form">
        <div class="">
            <img src="/assets/images/Pokeball.png" alt="Pokeball">
        </div>
        <div class="form">
            <p>Pokemon Name or Id</p>
            <input type="text" [(ngModel)]="searchInput" name="searchInput">
        </div>
        <div class="buttons">
            <button class="action" (click)="search()">Search</button>
            <button class="action" (click)="generateRandomNumber()">Random</button>
        </div>
    </div>
</div>
