#results {
    .result-container {
        background-color: #b3e990;
        height: 100vh;
        .header {
            padding: 4pc;
        }
        .content {
            height: 100%;
            width: 90%;
            margin-left: auto;
            margin-right: auto;
            background-color: white;
            border-radius: 48px 48px 0px 0px;
            .avatar-container {
                text-align: center;
                img {
                    width: 170px;
                    height: 170px;
                    position: relative;
                    bottom: 67px;
                }
            }
            .types-container {
                width: 401px;
                height: 60px;
                display: flex;
                justify-content: space-between;
                margin: auto;
                .type {
                    width: 162.25px;
                    height: 45px;
                    color: white;
                    background-color: purple;
                    border-radius: 27px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Roboto';
                }
            }
            p {
                font-family: "Abel";
                font-size: 18px;
                width: 972px;
                text-align: center;
                margin: auto;
                padding-top: 2pc;
            }
            .tabs {
                width: 710px;
                height: 75px;
                display: flex;
                justify-content: space-around;
                margin: auto;
                padding-top: 2pc;
                .tab {
                    width: 206.37px;
                    height: 40px;
                    background-color: aqua;
                    border-radius: 27px;
                    border: none;
                    cursor: pointer;
                }
            }
            .tab-content {
                min-width: 375px;
                max-width: 647px;
                display: flex;
                justify-content: center;
                margin: auto;
            }
        }
    }
}